

.task {
    width: 200px;
    border: 1px black solid;
}

.close {
   position: relative;
   left: 50px;
}

button {
    margin-left: 20px;
}

.sbarrato {
    text-decoration: line-through black 2px;
}